
body {
  background: #87D1FF;
  color: black;
  font-family: 'Outfit';
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Unbounded';
  margin: 0;
}

span.Subtitle {
  font-family: 'Unbounded';
  font-weight: 100;
  font-size: 20px;
}

table {
  width: 100%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}

th {
  background: #00000020;
}

td.Prediction {
  cursor: help;
}

td.Prediction:hover {
  background: #00000010;
}
